.sidebar {
  width: 20%;
  height: 100vh; /* Высота на весь экран */
  position: fixed; /* Фиксированное позиционирование */
  top: 0; /* Расположение от верхнего края */
  left: 0; /* Расположение от левого края */
  background-color: #f4f4f4; /* Цвет фона */
  overflow-y: auto; /* Включить прокрутку, если контент не помещается */
  border-right: 1px solid #ddd; /* Граница справа */
  padding: 10px 30px; /* Внутренний отступ */
  box-sizing: border-box; /* Учитывать границы и отступы в размерах элемента */
}

.title {
  text-align: center;
  color: #6f00ff;
}

.detail {
  margin-left: 20%; /* Отступ справа для контента */
  padding: 20px; /* Внутренний отступ */
  box-sizing: border-box; /* Учитывать границы и отступы в размерах элемента */
}
